{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "all" }]
  }
}
